/* Sets margin and padding for entire page. */
*{
    margin: 0;
    padding: 0;  
}

/* Sets header style.*/
header{
    display: block;
    background-color: #2a607c;   
    padding: 20px;
}

/* Sets site's main heading style. */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets body back ground color. */
body {
    background-color: #d9dcd6;
}

/* Sets footer style. */
footer{
    padding: 30px;
    text-align: center;
}

/* Sets the font family to 'Trebuchet MS' with some fall back font families. */
.font-family-trebuchet-ms{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets the font family to 'Gill Sans' with some fall back font families. */
.font-family-gill-sans{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets navigation section style (makes the text right justified, sets padding and margin; and font size.). */
.header nav{
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    text-align: right;
}

/* Sets the menu text to inline and margin. */
.menu-text{
    display: inline;
    margin-left: 25px;
}

/* Removes the hyperlink from menu text. */
.remove-hyperlink{
    text-decoration: none; 
}

/* Sets the style for main image on the page. */
.digital-marketing-meeting{
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

/* Makes the text color white. */
.text-color-white{
    color: white;
}

/* Sets the style for overall content section. */
.content{
    width: 75%;
    margin-left: 20px;
    display: inline-block;
}

/* Sets style for h2 element (heading in content section). */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets the style for individual content section. */
.individual-content{
    height: 200px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: #0072bb;
}

/* Sets image height for individual content. */
.content-image-max-height{
    max-height: 200px;
}

/* Sets  style for oveall benefit section.*/
.benefits{
    width: 18%;
    margin-right: 20px;
    padding: 20px;
    height: 100%;
    float: right;
    background-color: #2589bd;
}

/* Sets margin for individual benifit. */
.individual-benefit{
    margin-bottom: 32px;
}

/* Sets h3 element (heading in benifit section) margin and text style. */
.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

/* Sets style for each paragraph in benefit section. */
.benefits p{
    font-size: 16px;
}

/* Sets style for each image in in benefit section. */
.benefits-image-max-width{
    max-width: 150px;
    margin: 10px auto;
    display: block;
}

/* Makes the content section image float left. */
.float-left{
    float: left;
    margin-right: 25px;
}

/* Makes the content section image float right. */
.float-right{
    float: right;
    margin-left: 25px;
}

/* Sets h4 element (heading in footer) text height. */
.footer h4{
    font-size: 20px;
}

/* Sets the font color for letter 'seo' in main heading h1. */
#seo{
    color: #d9dcd6;
}